# dependencies
node_modules
**/node_modules

# git
.git
.gitignore

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build
.next
dist
build

# docs
docs
*.md

# env
.env
.env.*
secrets

# editor
.vscode
.idea

# testing
coverage

# docker
Dockerfile
docker-compose.yml